body{
    margin: auto;
    height: 100%
}

.container {
    max-width: 65%;
    margin: auto;
    background-color: rgba(237, 237, 237, 0.75);
    border-radius: 10px;
    z-index: 9999;
}
.container h1{
    text-align: center;
}

.container p {
    text-align: right;
}

.playlist li{
    text-align: left;
    list-style-type: none;
    line-height: 3em;
    font-size: 2em;
}

.playlist {
    padding-top: 50px;
    margin: auto;
    text-align: center;
}
ul {
    max-width: 100%;
}
#wildbeast:hover {
    background-image: url('../wildbeasts_present.jpg');
    background-repeat: none;
    border-radius: 5px;
    color: #fff;
}
