body {
  min-height: 1000px;
  padding-top: 90px;

}

.jumbotron h1{
	top: 20px;
}
.jumbotron {
	background-image: url("http://p1.pichost.me/i/51/1750849.jpg");
	height: 500px;
}

.jumbotron {
	color: white;
}
